html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  color: #444444;
  background: #ebedeb;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 24px;
  width: 100%;
  height: 100%;
  margin: 0;
}
p {
  text-align: center;
  padding: 24px 36px 0;
}
.calculator,
.application {
  height: 100%;
}
.statusbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #099d93;
  width: 100%;
  height: 21px;
}
.result {
  background: #ffffff;
  text-align: right;
  font-size: 46px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  height: 23%;
  margin: 0;
  padding: 74px 12px 0;
}
.equation {
  color: #099d93;
  background: #ffffff;
  text-align: right;
  width: 100%;
  height: 9%;
  margin-bottom: 0;
  padding: 13px 12px 0;
  white-space: nowrap;
  overflow: hidden;
}
.equation .eq {
  display: inline;
}
.equation .eq span {
  color: #999999;
  font-weight: 300;
  margin: 0 5px;
}
.equation .eq span.left-bracket {
  margin-left: 0;
}
.equation .eq span.right-bracket {
  margin-right: 0;
}
/* HISTORY
   ---------------------------------- */
#history {
  display: none;
}
.keypad {
  border-top: 6px solid #099d93;
  height: 68%;
}
button {
  float: left;
  color: #111111;
  background: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 100;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-bottom: none;
  width: 25%;
  height: 16.66666666%;
  margin: 0;
  padding: 0;
}
button:active {
  color: #ffffff;
  background: #099d93;
}
.btn-equals {
  color: #000000;
  background: #d9d9d9;
  width: 50%;
}
.btn-plus-minus {
  letter-spacing: 2px;
}
.btn-backspace {
  background-image: url("../assets/backspace.png");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 25px 64px;
}
.btn-backspace:active {
  background-position-y: -24px;
}
.btn-history {
  font-size: 18px;
  width: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.flash {
  color: #ffffff;
  background: #099d93;
}
/* In-Call
   ---------------------------------- */
/* iPhone 6+
   ---------------------------------- */
/* iPhone 6
   ---------------------------------- */
/* iPhone 4
   ---------------------------------- */
/* LANDSCAPE
   ---------------------------------- */
/* INSTALL SCREEN
   ---------------------------------- */
#install {
  display: none;
}
body.install {
  background: #383838;
  background-attachment: fixed;
  height: 100%;
}
body.install .calculator {
  display: none;
}
body.install .install {
  display: block;
  margin: 0 auto;
  width: 175px;
}
body.install .instructions {
  position: absolute;
  top: 50%;
  color: #d9d9d9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 2px #000;
  width: 175px;
  height: 180px;
  margin-top: -90px;
}
body.install .instructions span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
}
body.install .app-icon {
  background: url("../assets/app-icon-large.png") no-repeat;
  background-size: 125px 125px;
  width: 125px;
  height: 125px;
  margin: 0 auto 20px;
}
body.install .twitter {
  position: fixed;
  bottom: 20px;
  left: 50%;
  color: #099d93;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
  width: 130px;
  margin-left: -65px;
}
body.install .twitter:hover {
  color: #d9d9d9;
}
