// Screen Sizes
// ----------------------------------

// Global Variables
// ----------------------------------

$color-primary:       #099d93;
$color-danger:        #ff0f0f;

$color-grey100:       #fff;
$color-grey85:        #d9d9d9;
$color-grey70:        #b3b3b3;
$color-grey60:        #999;
$color-grey20:        #333;
$color-grey15:        #262626;
$color-grey0:         #000;

$display-borderWidth: 6px;

$fontStack: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;



// Reset
// ----------------------------------

html, body, div, span, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
	touch-action: manipulation;
}

*, *:before, *:after {
	box-sizing: inherit;
}



// Layout
// ----------------------------------

html {
	color: $color-grey20;
	background: $color-grey20;
	font-family: $fontStack;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 200;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	        user-select: none;
}

button {
	font: inherit;
	font-weight: 300;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
}

.app {
	height: 100vh;
	position: relative;
}

.application {
	display: flex;
	flex-direction: column;
	height: 100%;
}



// Display
// ----------------------------------

.display {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: $color-grey100;
	border-bottom: $display-borderWidth solid $color-primary;
}

.result,
.equation {
	display: flex;
	text-align: right;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	align-items: center;
	justify-content: right;
}

.result,
.eq {
	padding-left: 12px;
	padding-right: 12px;
}

.result {
	flex-grow: 1;
	font-size: 60px;
	font-weight: 200;

	> div {
		width: 100%;
	}
}

.equation {
	position: relative;
	color: $color-primary;
	border-top: 1px solid $color-grey85;
	height: 54px;

	@media (-webkit-min-device-pixel-ratio: 2) {
		border-width: 0.5px;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 36px;
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33.3333%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33.3333%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33.3333%,rgba(255,255,255,0) 100%);
	}
}

.eq {
	position: absolute;
	right: 0;
	display: inline;
	float: right;
}

.left-bracket,
.right-bracket,
.equation-operator {
	color: $color-grey60;
	font-weight: 100;
	margin: 0 0.2em;
}

.left-bracket {
	margin-left: 0;
}

.right-bracket {
	margin-right: 0;
}



// Kaypad
// ----------------------------------

// Keypad buttons
.keypad {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	font-size: 0;
}

.keypad-button {
	display: inline-block;
	color: $color-grey100;
	background: $color-grey20;
	font-family: $fontStack;
	font-size: 1.1rem;
	border: 1px solid $color-grey0;
	width: 25%;
	height: 71px;
	transition: color 0.2s ease, background-color 0.2s ease;

	@media (-webkit-min-device-pixel-ratio: 2) {
		border-width: 0.5px;
	}

	&:active {
		color: #fff;
		background-color: $color-primary;
	}

	&.is-active {
		color: $color-primary;
		border: 1.5px solid $color-grey0;
		background-color: #2d2d2d;
	}
}

// Keypad button modifiers
.keypad-button--wide {
	width: 50%;
}

.keypad-button--equals,
.keypad-button--operator {
	color: $color-primary;
}

.keypad-button--bracket,
.keypad-button--plus-minus {
	color: $color-grey70;
}

.keypad-button--clear,
.keypad-button--history,
.keypad-button--backspace {
	color: $color-grey70;
	background-color: $color-grey15;
}

.keypad-button--backspace {
	background-image: url("../assets/backspace-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px 16px;
}

.keypad-button--clear {
	color: $color-danger;
}

.brackets-count {
	color: $color-grey60;
	background-color: #000;
	font-size: 0.5em;
	position: absolute;
	bottom: 310px;
	left: 50%;
	padding: 2px 5px;
	border-radius: 2px;
	z-index: 80;
	transform: translateX(-50%);
}



// History
// ----------------------------------

.history-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 426px + $display-borderWidth;
	width: 100%;
	z-index: 90;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(10px);
	        backdrop-filter: blur(10px);
}

.history-title-bar {
	position: relative;
	color: $color-grey100;
	background-color: $color-primary;
	text-align: left;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 45px;
	height: 45px;
	padding-left: 15px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.history-close-button {
	position: absolute;
	right: 0;
	color: #fff;
	background-color: transparent;
	background-image: url("../assets/close-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 48px 45px;
	text-align: right;
	font-size: 30px;
	font-weight: 100;
	width: 48px;
	height: 45px;
	margin: 0;
	padding-right: 15px;
}

.history-list-scroll {
	height: calc(100% - 45px);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.history-button {
	display: flex;
	justify-content: space-between;
	color: $color-grey85;
	background-color: transparent;
	text-align: left;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 0.5px solid #444;

	&:active {
		background-color: $color-primary;
	}
}

.history-button-equation {
	color: $color-grey70;
	font-size: 0.7em;
	line-height: 20px;
	max-width: 100%;
	padding: 3px 0 0 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}



// ## Media Queries
// -----------------------------------------------------------------------------

@media (min-height: 812px) {
	.c-spacer {
		background-color: $color-grey0;
		height: 58px;
	}

	.history-container {
		height: 490px;
	}
}



// Animations
// -----------------------------------------------------------------------------

.slide-enter-active,
.slide-leave-active {
	transition: transform 0.35s cubic-bezier(0.66, 0, 0.33, 1);
}

.slide-enter,
.slide-leave-to  {
	transform: translateY(100%);
}



// ## Install Screen
// -----------------------------------------------------------------------------

.install {
	background: #383838;
	background-attachment: fixed;
	height: 100%;

	.app {
		display: none;
	}

	.installation {
		display: block;
	}
}

.installation {
	margin: 0 auto;
	width: 175px;
}

.instructions {
	position: absolute;
	top: 50%;
	color: #d9d9d9;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	text-shadow: 0 1px 2px #000;
	width: 175px;
	height: 180px;
	margin-top: -90px;

	span {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 800;
	}
}

.app-icon {
	background: url("../assets/app-icon-large.png") no-repeat;
	background-size: 125px 125px;
	width: 125px;
	height: 125px;
	margin: 0 auto 20px;
}

.twitter {
	position: fixed;
	bottom: 20px;
	left: 50%;
	color: $color-primary;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-shadow: 0 1px 2px #000;
	width: 130px;
	margin-left: -65px;

	&:hover {
		color: #d9d9d9;
	}
}
