html,
body,
div,
span,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #000;
  background: #fff;
  font-family: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  width: 100%;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.calculator {
  position: relative;
  overflow: hidden;
}
button {
  color: #ffffff;
  background: none;
  font-family: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: 300;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.2s ease, background-color 0.2s ease;
}
button.flash,
button:active {
  color: #ffffff;
  background-color: #099d93;
}
.result {
  color: #444444;
  background: #ffffff;
  text-align: right;
  font-size: 60px;
  font-weight: 200;
  border-bottom: 0.5px solid #d9d9d9;
  width: 100%;
  margin: 0;
  padding: 0 12px;
}
.result > span {
  position: relative;
  top: 49%;
  right: 12px;
  margin-right: -12px;
}
.equation {
  color: #099d93;
  background: #ffffff;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
  padding: 17px 12px 0;
  white-space: nowrap;
  overflow: hidden;
}
.equation .eq {
  display: inline;
}
.equation .eq .operator,
.equation .eq .left-bracket,
.equation .eq .right-bracket {
  color: #999999;
  font-weight: 100;
  margin: 0 5px;
}
.equation .eq .left-bracket {
  margin-left: 0;
}
.equation .eq .right-bracket {
  margin-right: 0;
}
.history {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 90;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 0.35s cubic-bezier(0.66, 0, 0.33, 1);
  transition: transform 0.35s cubic-bezier(0.66, 0, 0.33, 1);
}
.history-titlebar {
  position: relative;
  color: #ffffff;
  background-color: rgba(9, 157, 147, 0.3);
  text-align: center;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  padding: 12px;
}
.history-close {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 22px;
  font-weight: 100;
  width: 48px;
  height: 46px;
  padding: 9px 12px 0;
}
.history-list-scroll {
  height: calc(100% - 52px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.history-list {
  list-style: none;
}
.history-list button {
  color: #ffffff;
  background-color: transparent;
  text-align: left;
  padding: 10px 12px;
}
.history-list button:active {
  color: #ffffff;
  background-color: #099d93;
}
.history-list .equ {
  float: right;
  color: #aaaaaa;
  font-size: 13px;
  line-height: 20px;
  max-width: 100%;
  padding: 3px 0 0 5px;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}
.history-list .equ span {
  margin: 0 3px;
}
.history--open .history {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.keypad {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333333;
  border-top: 6px solid #099d93;
}
.keypad button {
  float: left;
  border: 0.5px solid #000000;
  width: 25%;
}
.keypad button.btn-history,
.keypad button.btn-equals {
  width: 50%;
}
.keypad button.active {
  color: #099d93;
  border: 1.5px solid #000000;
}
.btn-clear {
  color: #ff0f0f;
  background-color: #262626;
}
.btn-history {
  color: #bbbbbb;
  background-color: #262626;
  font-size: 18px;
}
.btn-backspace {
  color: #ffffff;
  background-color: #262626;
  background-image: url("../assets/backspace-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 16px;
}
.btn-plus-minus {
  color: #bbbbbb;
  background-color: #333333;
  letter-spacing: 2px;
}
.btn-bracket {
  color: #bbbbbb;
  background-color: #333333;
}
.btn-operator {
  color: #099d93;
  background-color: #333333;
  font-size: 26px;
}
.btn-digit {
  color: #ffffff;
  background-color: #333333;
}
.btn-decimal {
  color: #ffffff;
  background-color: #333333;
}
.btn-equals {
  color: #099d93;
  background-color: #333333;
  font-size: 26px;
}
@media (min-height: 460px) {
  .calculator {
    height: 460px;
  }
  .result {
    height: 100px;
  }
  .keypad button {
    height: 50px;
  }
  .history {
    height: 300px;
  }
}
@media (min-height: 548px) {
  .calculator {
    height: 548px;
  }
  .result {
    height: 140px;
  }
  .keypad button {
    height: 58px;
  }
  .history {
    height: 348px;
  }
}
@media (min-height: 647px) {
  .calculator {
    height: 647px;
  }
  .result {
    height: 140px;
  }
  .keypad button {
    height: 74px;
  }
  .history {
    height: 444px;
  }
}
@media (min-height: 716px) {
  .calculator {
    height: 716px;
  }
  .result {
    height: 145px;
  }
  .keypad button {
    height: 85px;
  }
  .history {
    height: 510px;
  }
}
.installation {
  display: none;
}
.install {
  background: #383838;
  background-attachment: fixed;
  height: 100%;
}
.install .calculator {
  display: none;
}
.install .installation {
  display: block;
}
.installation {
  margin: 0 auto;
  width: 175px;
}
.instructions {
  position: absolute;
  top: 50%;
  color: #d9d9d9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 2px #000;
  width: 175px;
  height: 180px;
  margin-top: -90px;
}
.instructions span {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.app-icon {
  background: url("../assets/app-icon-large.png") no-repeat;
  background-size: 125px 125px;
  width: 125px;
  height: 125px;
  margin: 0 auto 20px;
}
.twitter {
  position: fixed;
  bottom: 20px;
  left: 50%;
  color: #099d93;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
  width: 130px;
  margin-left: -65px;
}
.twitter:hover {
  color: #d9d9d9;
}
