// COLORS
// ------

// Status Bar
@statusBarBG:                #262626;

// Display
@resultTextColor:            #444;
@resultBgColor:              #fff;

@equationTextColor:          #099d93;
@equationOperatorColor:      #999;
@equationBgColor:            #fff;
@equationSeparatorRuleColor: #d9d9d9;

@displayRuleColor:           #e8e8e8;

// Keypad
@keypadTextColor:            #fff;
@keypadBgColor:              #333;
@keypadBorderColor:          #000;
@keypadActiveTextColor:      #fff;
@keypadActiveBgColor:        #099d93;
@keypadSeparatorRuleColor:   #099d93;

@clearTextColor:             #bbb;
@clearBgColor:               #262626;
@historyTextColor:           #bbb;
@historyBgColor:             #262626;
@backspaceTextColor:         #fff;
@backspaceBgColor:           #262626;
@bracketTextColor:           #bbb;
@bracketBgColor:             #333;
@plusminusTextColor:         #bbb;
@plusminusBgColor:           #333;
@operatorTextColor:          #099d93;
@operatorBgColor:            #333;
@digitTextColor:             #fff;
@digitBgColor:               #333;
@decimalTextColor:           #fff;
@decimalBgColor:             #333;
@equalsTextColor:            #099d93;
@equalsBgColor:              #333;

// History
@historyListTextColor:       #444;
@historyListEquationColor:   #999;
@historyListBgColor:         #fff;
@historyListBorderColor:     #d9d9d9;
@historyActiveTextColor:     #fff;
@historyActiveBgColor:       #099d93;
@historySeparatorRuleColor:  #d9d9d9;

@borderWidth:                0.5px;


// RESET
// ----------------------------------
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
blockquote, q {quotes: none;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #000; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
button, input, select, textarea {margin: 0;}


// LAYOUT
// ----------------------------------

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body,
.calculator,
.application {
	height: 100%;
}

body {
	color: #000;
	background: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
	width: 100%;
	margin: 0;
}

p {
	text-align: center;
	padding: 24px 36px 0;
}

button {
	color: @keypadTextColor;
	background: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 20px;
	font-weight: 100;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
	transition: color 0.2s ease, background-color 0.2s ease;
	
	&:active {
		color: @keypadActiveTextColor;
		background-color: @keypadActiveBgColor;
	}
}

.calculator {
	position: relative;
	background: #fff;
	overflow: hidden;
}

.application {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: top 0.4s ease-in-out;
}



// DISPLAY
// ----------------------------------

.statusbar {
	position: fixed;
	top: 0;
	left: 0;
	background: @statusBarBG;
	width: 100%;
	height: 21px;
	z-index: 100;
}

.result {
	color: @resultTextColor;
	background: @resultBgColor;
	text-align: right;
	font-size: 46px; // Must be updated in JS settings as well
	border-bottom: @borderWidth solid @equationSeparatorRuleColor;
	width: 100%;
	height: 23%;
	margin: 0;
	padding: 0 12px;
	
	> span {
		position: relative;
		top: 50%;
		right: 12px;
		margin-right: -12px;
	}
}

.equation {
	color: @equationTextColor;
	background: @equationBgColor;
	text-align: right;
	width: 100%;
	margin-bottom: 0;
	padding: 13px 12px 0;
	white-space: nowrap;
	overflow: hidden;
	
	.eq {
		display: inline;
		
		span {
			color: @equationOperatorColor;
			font-weight: 300;
			margin: 0 5px;
			
			&.left-bracket {
				margin-left: 0;
			}
			
			&.right-bracket {
				margin-right: 0;
			}
		}
	}
}


// HISTORY
// ----------------------------------

.history {
	position: absolute;
	top: -100%;
	left: 0;
	background-color: @historyListBgColor;
	border-bottom: 3px solid @historySeparatorRuleColor;
	width: 100%;
	height: 68.4%;
	padding-top: 21px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 90;
	transition: top 0.4s ease-in-out;
}

.history-list {
	list-style: none;
	
	button {
		color: @historyListTextColor;
		background-color: @historyListBgColor;
		text-align: left;
		border-top: @borderWidth solid @historyListBorderColor;
		padding: 10px 12px;
		
		&:active {
			color: @historyActiveTextColor;
			background-color: @historyActiveBgColor;
		}
	}
	
	.equ {
		float: right;
		color: @historyListEquationColor;
		font-size: 13px;
		line-height: 20px;
		max-width: 100%;
		padding: 3px 0 0 5px;
		white-space: nowrap;
		text-align: right;
		text-overflow: ellipsis;
		overflow: hidden;
		
		span {
			margin: 0 3px;
		}
	}
}

.history--open {
	.history {
		top: 0;
	}
	
	.application {
		top: 68.4%;
	}
}



// KEYPAD
// ----------------------------------

.keypad {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 6px solid @keypadSeparatorRuleColor;
	height: 68.4%;
	
	button {
		float: left;
		border: @borderWidth solid @keypadBorderColor;
		width: 25%;
		height: 16.66666666%;
		
		&.btn-history,
		&.btn-equals {
			width: 50%;
		}
	}
}

.btn-clear {
	color: @clearTextColor;
	background-color: @clearBgColor;
}

.btn-history {
	color: @historyTextColor;
	background-color: @historyBgColor;
	font-size: 18px;
}

.btn-backspace {
	color: @backspaceTextColor;
	background-color: @backspaceBgColor;
	background-image: url("../assets/backspace.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px 16px;
}

.btn-plus-minus {
	color: @plusminusTextColor;
	background-color: @plusminusBgColor;
	letter-spacing: 2px;
}

.btn-bracket {
	color: @bracketTextColor;
	background-color: @bracketBgColor;
}

.btn-operator {
	color: @operatorTextColor;
	background-color: @operatorBgColor;
}

.btn-digit {
	color: @digitTextColor;
	background-color: @digitBgColor;
}

.btn-decimal {
	color: @decimalTextColor;
	background-color: @decimalBgColor;
}

.btn-equals {
	color: @equalsTextColor;
	background-color: @equalsBgColor;
}



/* In-Call
   ---------------------------------- */

@media (max-height: 528px) and (min-height: 528px) {
	
}


/* iPhone 6+
   ---------------------------------- */

@media (min-height: 640px) {
	
}


/* iPhone 6
   ---------------------------------- */

@media (min-height: 667px) {
	
}


/* iPhone 4
   ---------------------------------- */

@media (max-height: 480px) {
	
}


/* LANDSCAPE
   ---------------------------------- */

@media (max-height: 320px) {
	
}


// INSTALL SCREEN
// ----------------------------------

.installation {
	display: none;
}

.install {
	background: #383838;
	background-attachment: fixed;
	height: 100%;
	
	.calculator {
		display: none;
	}
	
	.installation {
		display: block;
	}
}
	
.installation {
	margin: 0 auto;
	width: 175px;
}

.instructions {
	position: absolute;
	top: 50%;
	color: #d9d9d9;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	text-shadow: 0 1px 2px #000;
	width: 175px;
	height: 180px;
	margin-top: -90px;
	
	span {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 800;
	}
}

.app-icon {
	background: url("../assets/app-icon-large.png") no-repeat;
	background-size: 125px 125px;
	width: 125px;
	height: 125px;
	margin: 0 auto 20px;
}

.twitter {
	position: fixed;
	bottom: 20px;
	left: 50%;
	color: @keypadActiveBgColor;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-shadow: 0 1px 2px #000;
	width: 130px;
	margin-left: -65px;
	
	&:hover {
		color: #d9d9d9;
	}
}