html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.calculator,
.application {
  height: 100%;
}
body {
  color: #000;
  background: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 24px;
  width: 100%;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.calculator {
  position: relative;
  overflow: hidden;
}
button {
  color: #ffffff;
  background: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: 100;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.2s ease, background-color 0.2s ease;
}
button.flash,
button:active {
  color: #ffffff;
  background-color: #099d93;
}
.statusbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #262626;
  width: 100%;
  height: 21px;
  z-index: 100;
}
.result {
  color: #444444;
  background: #ffffff;
  text-align: right;
  font-size: 46px;
  border-bottom: 0.5px solid #d9d9d9;
  width: 100%;
  height: 23%;
  margin: 0;
  padding: 0 12px;
}
.result > span {
  position: relative;
  top: 49%;
  right: 12px;
  margin-right: -12px;
}
.equation {
  color: #099d93;
  background: #ffffff;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
  padding: 17px 12px 0;
  white-space: nowrap;
  overflow: hidden;
}
.equation .eq {
  display: inline;
}
.equation .eq span {
  color: #999999;
  font-weight: 300;
  margin: 0 5px;
}
.equation .eq span.left-bracket {
  margin-left: 0;
}
.equation .eq span.right-bracket {
  margin-right: 0;
}
.history {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333333;
  width: 100%;
  height: 68.4%;
  z-index: 90;
  transition: top 0.4s ease-in-out;
}
.history-titlebar {
  position: relative;
  color: #ffffff;
  background-color: #262626;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
  padding: 12px;
}
.history-close {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 22px;
  font-weight: 100;
  width: 48px;
  height: 46px;
  padding: 9px 12px 0;
}
.history-list-scroll {
  height: calc(100% - 52px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.history-list {
  list-style: none;
}
.history-list li {
  border-bottom: 0.5px solid #000000;
}
.history-list button {
  color: #ffffff;
  background-color: #333333;
  text-align: left;
  padding: 10px 12px;
}
.history-list button:active {
  color: #ffffff;
  background-color: #099d93;
}
.history-list .equ {
  float: right;
  color: #aaaaaa;
  font-size: 13px;
  line-height: 20px;
  max-width: 100%;
  padding: 3px 0 0 5px;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}
.history-list .equ span {
  margin: 0 3px;
}
.history--open .history {
  top: calc(31.6% + 6px);
}
.keypad {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333333;
  border-top: 6px solid #099d93;
  height: 68.4%;
}
.keypad button {
  float: left;
  border: 0.5px solid #000000;
  width: 25%;
  height: 16.66666666%;
}
.keypad button.btn-history,
.keypad button.btn-equals {
  width: 50%;
}
.btn-clear {
  color: #ff0f0f;
  background-color: #262626;
}
.btn-history {
  color: #bbbbbb;
  background-color: #262626;
  font-size: 18px;
}
.btn-backspace {
  color: #ffffff;
  background-color: #262626;
  background-image: url("../assets/backspace-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 16px;
}
.btn-plus-minus {
  color: #bbbbbb;
  background-color: #333333;
  letter-spacing: 2px;
}
.btn-bracket {
  color: #bbbbbb;
  background-color: #333333;
}
.btn-operator {
  color: #099d93;
  background-color: #333333;
  font-size: 26px;
}
.btn-digit {
  color: #ffffff;
  background-color: #333333;
}
.btn-decimal {
  color: #ffffff;
  background-color: #333333;
}
.btn-equals {
  color: #099d93;
  background-color: #333333;
  font-size: 26px;
}
@media (min-height: 480px) {
  .keypad {
    height: 68.5%;
  }
}
@media (min-height: 568px) {
  .keypad {
    height: 68.4%;
  }
}
@media (min-height: 667px) {
  .keypad {
    height: 68.4%;
  }
}
@media (min-height: 736px) {
  .keypad {
    height: 68.5%;
  }
}
@media (min-height: 768px) {
  .keypad {
    height: 68.6%;
  }
}
.installation {
  display: none;
}
.install {
  background: #383838;
  background-attachment: fixed;
  height: 100%;
}
.install .calculator {
  display: none;
}
.install .installation {
  display: block;
}
.installation {
  margin: 0 auto;
  width: 175px;
}
.instructions {
  position: absolute;
  top: 50%;
  color: #d9d9d9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 2px #000;
  width: 175px;
  height: 180px;
  margin-top: -90px;
}
.instructions span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.app-icon {
  background: url("../assets/app-icon-large.png") no-repeat;
  background-size: 125px 125px;
  width: 125px;
  height: 125px;
  margin: 0 auto 20px;
}
.twitter {
  position: fixed;
  bottom: 20px;
  left: 50%;
  color: #099d93;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000;
  width: 130px;
  margin-left: -65px;
}
.twitter:hover {
  color: #d9d9d9;
}
