.c-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 432px;
	width: 100%;
	z-index: 90;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
	transform: translateY(100%);
	transform-origin: bottom center;
	animation-name: slide-in-animation;
	animation-fill-mode: forwards;
	animation-duration: 0.35s;
	animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
	-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);

	&.is-closing {
		animation-name: slide-out-animation;
	}
}

.c-panel__title-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	background-color: var(--color--primary);
	font-size: 0.8rem;
	font-weight: var(--font--weight--bold);
	height: 45px;
	padding-left: 24px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.c-panel__title {
	display: flex;
	align-items: center;

	svg {
		margin-right: 8px;
	}
}

.c-panel__close-button {
	height: 100%;
	padding-left: 24px;
	padding-right: 24px;
}

@media (min-height: 668px) {
	.c-panel {
		height: 490px;
	}
}

@keyframes slide-in-animation {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide-out-animation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}
