.c-display {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background-color: #fff;
	border-bottom: 6px solid var(--color--primary);
}

.c-display__result-wrapper,
.c-display__equation-wrapper {
	display: flex;
	color: #000;
	text-align: right;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	align-items: center;
	justify-content: right;
}

.c-display__result-wrapper,
.c-display__equation-body {
	padding-left: 12px;
	padding-right: 12px;
}

.c-display__result-wrapper {
	flex: 1 1 auto;
	font-size: 60px;
	font-weight: 200;

	> div {
		width: 100%;
	}
}

.c-display__equation-wrapper {
	flex: 0 0 auto;
	position: relative;
	color: var(--color--primary);
	border-top: 1px solid #d9d9d9;
	height: 54px;

	@media (-webkit-min-device-pixel-ratio: 2) {
		border-width: 0.5px;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 36px;
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33.3333%,rgba(255,255,255,0) 100%);
		background:    -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33.3333%, rgba(255,255,255,0) 100%);
		background:         linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33.3333%,rgba(255,255,255,0) 100%);
	}
}

.c-display__equation-body {
	position: absolute;
	right: 0;
	display: inline;
	float: right;
}

.c-display__eq-part--left-bracket,
.c-display__eq-part--right-bracket,
.c-display__eq-part--operator {
	color: #999;
	font-weight: 100;
	margin: 0 0.2em;
}

.c-display__eq-part--left-bracket {
	margin-left: 0;
}

.c-display__eq-part--right-bracket {
	margin-right: 0;
}
